* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.diapositiva {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-image: url('../resources/Diapositiva1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.nombre {
    position: absolute;
    margin-top: 41px;
    /* background-color: rgba(255, 0, 0, 50%); */
    height: 45px;
    width: 826px;
    font-size: 160%;
}

.nombre p {
    text-align: left;
    font-family: 'Avenir LT Std';
    max-width: 100%;
    padding: 5px;
    padding-top: 7px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.lugar {
    position: absolute;
    margin-top: 85px;
    /* background-color: rgba(0, 255, 0, 50%); */
    height: 33px;
    width: 651px;
    font-size: 160%;
}

.lugar p {
    text-align: left;
    font-family: 'Calibri';
    max-width: 100%;
    padding-left: 5px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.contratista {
    position: absolute;
    margin-top: 120px;
    /* background-color: rgba(0, 255, 0, 50%); */
    height: 33px;
    width: 638px;
    font-size: 160%;
}

.contratista p {
    text-align: left;
    font-family: 'Calibri';
    max-width: 100%;
    padding-left: 5px;
    color: rgb(34, 41, 83);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.mapa {
    position: absolute;
    /* background-color: rgba(255, 0, 255, 50%); */
    height: 410px;
    width: 684px;
    margin-top: 160px;
    margin-left: 345px;
}

.mapa img {
    height: 100%;
    width: 100%;
}

.antes {
    position: absolute;
    /* background-color: rgba(250, 250, 0, 0.5); */
    height: 208px;
    width: 334px;
    margin-top: 583px;
    margin-left: 345px;
}

.antes img {
    height: 100%;
    width: 100%;
}

.despues {
    position: absolute;
    /* background-color: rgba(250, 250, 0, 0.5); */
    height: 208px;
    width: 334px;
    margin-top: 583px;
    margin-left: 682px;
}

.despues img {
    height: 100%;
    width: 100%;
}

.sobre {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../resources/sobre_imagenes.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.alcances {
    position: absolute;
    margin-top: 158px;
    /* background-color: rgba(0, 255, 0, 50%); */
    height: 410px;
    width: 324px;
    font-size: 160%;
    font-family: 'Avenir LT Std';
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
}

.alcance {
    /* background-color: rgba(255, 60, 100, 50%); */
    height: fit-content;
    width: calc(100%);
    font-weight: 200;
    font-size: 60%;
}

.avance {
    position: absolute;
    /* background-color: rgba(255, 0, 0, 50%); */
    height: 65px;
    width: 84px;
    margin-top: 423px;
    margin-left: 730px;
    font-size: 200%;
    font-family: 'Avenir LT Std';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inversion {
    position: absolute;
    /* background-color: rgba(255, 0, 0, 50%); */
    height: 63px;
    width: 84px;
    margin-top: 491px;
    margin-left: 730px;
    font-size: 150%;
    font-family: 'Avenir LT Std';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bene {
    position: absolute;
    /* background-color: rgba(255, 0, 0, 50%); */
    height: 63px;
    width: 84px;
    margin-top: 557px;
    margin-left: 730px;
    font-size: 100%;
    font-family: 'Avenir LT Std';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio {
    position: absolute;
    /* background-color: rgba(255, 0, 0, 50%); */
    height: 33px;
    width: 88px;
    margin-top: 714px;
    margin-left: 16px;
    font-size: 108%;
    font-family: 'Avenir LT Std';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.termino {
    position: absolute;
    /* background-color: rgba(255, 0, 0, 50%); */
    height: 35px;
    width: 88px;
    margin-top: 752px;
    margin-left: 15px;
    font-size: 108%;
    font-family: 'Avenir LT Std';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
